doctype html
html
  head
    title Shubham Dance acdaemy
    block scripts
    block style
  body
       nav#navbar
        ul
           div#logo
            img(src="/static/logo.jpg" height="60px")
            | SDA
            li #[a(href ="/") Home]
            li #[a(href ="/") about]
            li #[a(href ="/") Services]
            li #[a(href ="/") Class info]
            li #[a(href ="/contact") Contact us ]
         
        block content
        block footer
            foot#footer
              |  Copyright @ 2020 Shubham Dance Academy .All rights reserved 